<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/haskell-syntax.css"/>
    <link rel="stylesheet" href"https://typeof.net/Iosevka/fonts.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      $body$
    </div>
  </body>
</html>
