<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://revealjs.com/css/reset.css">
    <link rel="stylesheet" href="https://revealjs.com/css/reveal.css">
    <link rel="stylesheet" href="https://revealjs.com/css/theme/black.css" id="theme">
    <link rel="stylesheet" href="https://revealjs.com/lib/css/monokai.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi )
                ? 'https://revealjs.com/css/print/pdf.css'
                : 'https://revealjs.com/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <title>$title$</title>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        $body$
      </div>
    </div>

    <script src="https://revealjs.com/js/reveal.js"></script>

    <script>
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: false,
        slideNumber: 'c/t',
        center: true,
        hash: true,
        transition: 'none', // none/fade/slide/convex/concave/zoom

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [ { src: 'https://revealjs.com/plugin/zoom-js/zoom.js', async: true }
                      , { src: 'https://revealjs.com/plugin/highlight/highlight.js', async: true }
                      , { src: 'https://revealjs.com/plugin/notes/notes.js', async: true }
                      ]
      });
    </script>
  </body>
</html>
